@import '../../../scss/mixins';

:host {
  @include mat-design-icon-mixin();

  .material-icons {
    cursor: pointer;
    transition: transform .5s;
    &.animate {
      transform: rotate(360deg);
    }
  }
  .material-icons:hover {
    color: lightgray;
  }
}
