.main-container {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  position: relative;
  width: 100%;
  height: 100%;
}

.text-container-normal-size{
  font-size: 20px;
}
.text-container-small-size{
  font-size: 15px;
}

.title-normal{
  margin-bottom: 25%;
}
.title-mobile{
  margin-bottom: 5px;
}
.text-container {
  margin: 10% 0 0 0;
  text-align: center;
  height: 70%;
  flex-direction: column;
  overflow-y: scroll;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.mat-button-mobile {
  padding: 0;
}
