<div class="main-container">
  <div ngClass.gt-xs="text-container-normal-size"  ngClass.xs="text-container-small-size" class="text-container ">
    <div>
      <div ngClass.gt-xs="title-normal" ngClass.xs="title-mobile" class="">
        <div><p>Имя сотрудника:</p></div>
        <div><strong>{{worker.name}}</strong></div>
      </div>
      <div>
        <div><p>Занимаемая должность:</p></div>
        <div><strong>{{worker.job}}</strong></div>
      </div>
    </div>
    <div class="footer">
      <div><button mat-button color="primary" ngClass.xs="mat-button-mobile" (click)="openDialog()">Изменить</button></div>
      <div><button mat-button color="accent" ngClass.xs="mat-button-mobile" (click)="deleteWorker()">Удалить</button></div>
    </div>
  </div>
</div>

