/*Стили для форм входа и регистрации*/
.auth-container{
  height: 100%;
  width: 100%;
}
.auth-login-password {
  display: grid;
}
.auth-flex-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.auth-form-container-fix-width {
  width: 450px;
}

.auth-form-container-mobile-width {
  width: auto;
  margin-left: 10px;
  margin-left: 10px;
}

.auth-form-container {
  position: relative;
  height: 300px;
  background: aliceblue;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.auth-from-flex-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.form-position {
  margin: auto;
  margin: auto 25px auto 25px;
  width: inherit;
}
.buttons-block {
  display: flex;
  justify-content: space-between;
}

