<div fxLayoutAlign="center" fxFlex="100" fxLayout='column' style="text-align: center">
  <a (click)="toTable()">Таблица</a>
  <a (click)="toWorkers()">Создание объекта</a>
  <a (click)="logout()">Выход</a>
</div>
