<div style="bottom: 0" class="loading-shade"
     *ngIf="isDelete">
  <mat-spinner *ngIf="isDelete"></mat-spinner>
</div>
<button  class="fixed-button" ngClass.gt-xs="fixed-button-normal" ngClass.xs="fixed-button-mobile" (click)="openDialog()" matTooltip="Добавить сотрудника"
        mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
  <mat-icon>plus_one</mat-icon>
</button>
<div>
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile
    *ngFor="let worker of iter | async "  >
    <app-worker (deleteElement)="deleteWorker($event)" ngClass.gt-xs="app-worker-normal" ngClass.xs="app-worker-small"
                [worker]="{name:worker.name, job:worker.job, id:worker.id}"></app-worker>
  </mat-grid-tile>
</mat-grid-list>
</div>
