mat-grid-tile {
  background: transparent;
}
app-worker{
  width: 100%;

  max-width: 500px;
  max-height: 500px;

}
.app-worker-normal {
  margin: 20%;
  height: 70%;
}
.app-worker-small {
  margin: 5px;
  height: 90%;
}

.fixed-button{
  position: fixed;
  z-index: 9999;
}
.fixed-button-normal{
  top: 300px;
  left: 10px;
}
.fixed-button-mobile {
  left: 43%;
  top: 90%;
}
