<app-toolbar  [triggerSideNavClose]="sideNav.closedStart" (triggerSideNav)="sideNav.toggle()"></app-toolbar>
<mat-drawer-container class="example-container" >
  <mat-drawer  (window:resize)="sideNav.close()"  #sideNav mode="over"  >
    <app-side-menu (click)="sideNav.close()"></app-side-menu>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
