<div (window:keypress)="keySubmit($event)" class="auth-container">
  <div class="auth-flex-wrapper">
    <div class="auth-form-container"
         ngClass.gt-xs="auth-form-container-fix-width"
         ngClass.xs="auth-form-container-mobile-width">
      <div class="loading-shade loader"
           *ngIf="isLoginComplete ">
        <mat-spinner *ngIf="isLoginComplete"></mat-spinner>
      </div>
      <div class="auth-from-flex-wrapper">
        <div class="form-position">
          <form [formGroup]="authForm" >
            <div class="auth-login-password">
              <mat-form-field appearance="fill">
                <mat-label>Введите  email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="authForm.get('email').errors?.required && authForm.get('email').touched">Обязательное поле</mat-error>
                <mat-error *ngIf="authForm.get('email').errors?.email && authForm.get('email').touched">Некорретный email</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Введите пароль</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="authForm.get('password').errors?.required && authForm.get('email').touched">Обязательное поле</mat-error>
              </mat-form-field>
            </div>
          </form>
          <div class="buttons-block">
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="!(authForm.get('email')
          .valid && authForm.get('password').valid)">Вход</button>
            <button routerLink="register" (click)="navigateToRegisterPage()" mat-raised-button color="primary">Регистрация</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>


