a {
  align-self: center;
  cursor: pointer;
  text-decoration: none;
}
 a:hover {
  color: lightgray;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
