<mat-toolbar color="primary">
<mat-toolbar-row>
  <app-mat-animated-icon (click)="triggerSideNav.emit(null)" start="menu" fxShow.xs="true" fxHide.gt-xs="true"
                         fxFlex = 5 end="close" colorStart="none" colorEnd="none" [animate]="animate" [animateObserver]="triggerSideNavClose">

  </app-mat-animated-icon>
  <div fxFlex="95" fxLayoutAlign="auto" fxLayoutAlign.xs="center">
    <span fxFlex="23"  >Test Project</span>
    <a fxHide.xs="true" (click)="toTable()" fxFlex="25">Таблица</a>
    <a fxHide.xs="true" (click)="toWorkers()" fxFlex="90" fxFlexAlign="center">Создание объекта</a>
    <a (click)="logout()" fxHide.xs="true" fxFlex="5"  >Выход</a>
  </div>
</mat-toolbar-row>
</mat-toolbar>
