<!--Если модальное окно в режиме создания, то некоторые поля не отображаются и наоборот-->
<div style="bottom: 0" class="loading-shade"
     *ngIf="isComplete ">
  <mat-spinner *ngIf="isComplete"></mat-spinner>
</div>
<h1 mat-dialog-title>{{isCreate === true ? "Добавить сотрудника" : "Изменить сотрудника"}}</h1>
<div mat-dialog-content>
  <form [formGroup]="workerForm">
    <mat-form-field>
      <mat-label>Имя сотрудника</mat-label>
      <input matInput formControlName="name" required>
      <mat-error >Обязательное поле</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Должность</mat-label>
      <input matInput  formControlName="job" required>
      <mat-error>Обязательное поле</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button *ngIf="isCreate" [disabled]="!workerForm.valid" (click)="onSubmitClick()">Создать</button>
  <button mat-button *ngIf="!isCreate" [disabled]="!workerForm.valid" (click)="onEditClick()">Изменить</button>
</div>
