<div (window:keypress)="keySubmit($event)" class="auth-container">
  <div class="auth-flex-wrapper">
    <div class="auth-form-container"
         ngClass.gt-xs="auth-form-container-fix-width"
         ngClass.xs="auth-form-container-mobile-width">
      <div class="auth-from-flex-wrapper">
        <div class="loading-shade loader"
             *ngIf="isLoginComplete ">
          <mat-spinner *ngIf="isLoginComplete"></mat-spinner>
        </div>
        <div class="form-position">
          <form [formGroup]="registerForm" >
            <div class="auth-login-password">
              <mat-form-field appearance="fill">
                <mat-label>Введите email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="registerForm.get('email').errors?.required && registerForm.get('email')
                .touched">Обязательное поле</mat-error>
                <mat-error *ngIf="registerForm.get('email').errors?.email && registerForm.get('email')
                .touched">Некорретный email</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Введите пароль</mat-label>
                <input matInput formControlName="password" required>
                <mat-error *ngIf="registerForm.get('password').errors?.required && registerForm.get('password')
                .touched">Обязательное поле</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Подтвердите пароль</mat-label>
                <input matInput formControlName="confirmPassword" required>
                <mat-error *ngIf="registerForm.get('confirmPassword')
                .errors?.required && registerForm.get('confirmPassword').touched">Обязательное поле</mat-error>
                <mat-error *ngIf="registerForm.get('confirmPassword').errors?.notEquivalent">Пароли не совпадают!</mat-error>
              </mat-form-field>
            </div>
          </form>
          <div class="buttons-block">
            <button ngClass.xs="button-mobile" mat-raised-button color="primary" (click)="submit()" [disabled]="!(registerForm.get('email')
          .valid && registerForm.get('password').valid && registerForm.get('confirmPassword').valid )">Зарегистрироваться</button>
            <button ngClass.xs="button-mobile" routerLink="../login" mat-raised-button color="primary">На страницу входа</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
