/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {   background: linear-gradient(45deg, #3f50b5, transparent); margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
