<div class="basic-container" ngClass.xs="basic-container-zero-padding">
  <div class="basic-container-shadow">
    <div class="loading-shade"
         *ngIf="isLoadingResults ">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
  <mat-table [dataSource]="dataSource" [ngClass]="{empty_table: isLoadingResults}"  class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.color}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pantone_value">
      <mat-header-cell *matHeaderCellDef> Pantone value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pantone_value}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
    <mat-paginator></mat-paginator>
  </div>
</div>

