table {
  width: 100%;
}
.empty_table{
  min-height: 300px;
}


.basic-container {
  padding: 30px;
}
.basic-container-zero-padding {
  padding: 0;
}
.basic-container-shadow {
  position: relative;
  height: 100%;
  overflow: auto;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-table-sticky {
  background: #59abfd;
  opacity: 1;
}

